body{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    color: rgb(101, 161, 245);
}

.row{
    display: flex;
}

.col{
    width: 100%;
    margin-right: 0.5rem;
    padding: 10px;
}

.tools{
    width: 97.8%;
    padding: 10px;
    border: 1px solid grey;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.input_word, .display_html{
    width: 100%;
    padding-top: 5px;
    border: 1px solid grey;
    outline: none;
    height: 300px;
    resize: none;
    overflow-y: scroll;
}

/* add this on click */
/* .fa-bold{
    color: rgb(2, 197, 197);
} */

.boldTexts, .alignText, .orderList, .unorderList, .links, .image, .table, .upload_img, .byLink{   
    margin-right: 1rem;
    padding: 5px;
    cursor: pointer;
}


.boldTexts:hover, .alignText:hover, .orderList:hover, .unorderList:hover, .links:hover, .image:hover, .table:hover{
    background-color: gray;
}

abbr{
    text-decoration: none;
}

.word_char_count{
    text-align: right;
    font-size: 12px;
    color: rgb(55, 54, 54);
    width: 97.8%;
    padding: 10px;
    border: 1px solid grey;
    border-top:none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -4px;
}

.toolsecond{
    width: 97%;
}

.display_html{
    width: 95%;
    float: right;
    margin-left: auto;
    font-size: 13px;
}

.lines_text{
    display: flex;
}

.line_numbers{
    width: 5%;
    text-align: center;
    border: 1px solid grey;
    border-right: none;
    font-size: 13px;
    overflow-y: scroll;
    height: 302.5px;
    padding-top: 5px;
}

.alignTextSlide, .ordered_list_slide, .unordered_list_slide, .linkdropdown, .dropDownNavbar, .add_image{
    background-color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    text-align: left;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    font-size: 12px;
}

.unordered_list_slide{
    margin-left: 5rem;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

li{
    height: 25px;
    align-items: center;
}

li:hover{
    background-color: whitesmoke;
}

input{
    padding: 5px;
    outline-color: rgb(0, 195, 255);
}

.link_a{
    margin-bottom: 1rem;
}

.link_a:hover{
    background-color: white;
}

.input_insert{
    border: none;
    color:  rgb(0, 195, 255);
    background-color: white;
    cursor: pointer;
}

.navSearchIcon{
    background-color: whitesmoke;
    padding: 5px;
}

.add_img_nav{
    background-color: whitesmoke;
    padding: 5px;
    margin-bottom: 5px;
}

.addByUrl{
    padding: 5px;
}
