body{
    background-color: skyblue;
}

.container2{
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.add_note{
    float: right;
    width: 100px;
    background-color: rgb(104, 190, 19);
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px;
}

li{
    /* max-width: 700px; */
    list-style-type: none;
}

.card{
    width: 25rem;
    margin-right: 1rem;
}

.card-nav{
    background-color: rgb(104, 190, 19);
    padding: 10px;
    text-align: end;
    width: 24rem;
}

textarea{
    border: none;
    outline: none;
    width: 25rem;
}

